<div class="block pipeline">
    <h1 class="block__prefix">Pipeline</h1>
    <div class="block__content">
        <div class="container">
            <div class="grid">
                <div class="col--1-1">
                    
                    <h1>Pipeline style for edit event in calendar</h1>
                    <p class="t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>

                    <div class="pipeline__panel">
                        <ul class="list list--h pipeline__list">
                            <li class="list__item pipeline__item" data-ng-repeat="item in pipelineList" style="border-top-color: {{item.badge}}">
                                <span class="pipeline__badge" style="background-color: {{item.badge}}"></span>
                                {{item.title}}
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

