<div class="block statistic">
    <h1 class="block__prefix">Statistic</h1>
    <div class="block__content">
        <div class="container">
            <div class="grid">
                <div class="col--1-1">
                    
                    <h1>Statistic for photostudio</h1>
                    <p class="t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>

                    <div class="statistic__header">
                        <ul class="list list--h">
                            <li class="list__item">Зал 1</li>
                            <li class="list__item">Зал 2</li>
                            <li class="list__item">Зал 3</li>
                            <li class="list__item">Зал 4</li>
                        </ul>

                        <a href="#" class="button button--primary">Добавить виджет</a>
                    </div>

                    <div class="statistic__top">
                        <div class="statistic__top-item">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

