<div class="block">
    <h1 class="block__prefix">Avatar</h1>
    <div class="block__content">
        <div class="container">
            <div class="grid">
                <div class="col--1-1">
                    
                    <!--Modal blank-->
                    <div class="col--1-1" id="avatar">
                        <div data-ng-include="'view/avatar/normal/include.html'"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

