<div class="block">
    <h1 class="block__prefix">Avatar</h1>
    <div class="block__content">
        <div class="container">
            <div class="grid">
                <div class="col--1-1">
                    
                    <h1>Avatar style and more variation</h1>
                    <p class="t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>

                </div>
            </div>
        </div>
    </div>
</div>

