.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 20px 0 0 0;
  background: #171717;
  color: #fff;
}
.aside .aside__link {
  display: block;
  padding: 0 10px;
  line-height: 1.625rem;
  transition: 250ms;
}
.aside .aside__link:hover {
  background: #464646;
}
.aside .aside__parent {
  display: none;
  transition: all 250ms;
}
.aside .aside__parent.open {
  display: block;
}
.aside .aside__parent .aside__link {
  padding: 0 20px;
}
