.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  padding: 20px 0 0 0;
  background: #171717;
  color: #fff;
  min-height: 100%;
  min-height: 100vh;
  vertical-align: top;
  margin-right: -4px;
}
.aside .aside__link {
  display: block;
  padding: 0 10px;
  line-height: 1.625rem;
  transition: 250ms;
}
.aside .aside__link:hover {
  background: #464646;
}
.aside .aside__parent .aside__link {
  padding: 0 20px;
}
