.aside {
  display: inline-block;
  width: 200px;
  padding: 30px 0;
  background: #171717;
  color: #fff;
  min-height: 100%;
  min-height: 100vh;
  vertical-align: top;
  margin-right: -4px;
}
.aside .aside__link {
  padding: 0 10px;
  line-height: 20px;
}
