.block {
  position: relative;
  box-sizing: border-box;
  padding: 40px 0;
}
.block.block--sm {
  padding: 20px 0;
}
.block.block--md {
  padding: 60px 0;
}
.block.block--lg {
  padding: 80px 0;
}
.block.block--gray {
  background-color: #fafafa;
}
.block .block__item.block__item--green {
  background: #00a651;
}
