.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: #444;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 12px;
  background: #fff;
  vertical-align: middle;
  line-height: 30px;
  min-height: 30px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
}
.button.button--mini {
  min-height: 20px;
  padding: 0 6px;
  line-height: 20px;
  font-size: 11px;
}
.button.button--sm {
  min-height: 25px;
  padding: 0 10px;
  line-height: 25px;
  font-size: 12px;
}
.button.button--lg {
  min-height: 64px;
  padding: 0 30px;
  line-height: 62px;
  font-size: 16px;
}
.button.button--success {
  background-color: #18a24b !important;
  color: #fff !important;
}
.button.button--success:focus,
.button.button--success:hover {
  background-color: #18a24b !important;
  color: #fff !important;
}
.button.button--success.active,
.button.button--success:active {
  background-color: rgba(24, 162, 75, 0.8) !important;
  color: #fff !important;
}
.button.button--primary {
  background-color: rgba(33, 150, 243, 0.2);
  color: #2196f3;
}
.button.button--link {
  background: transparent;
}
.button.button--link.active,
.button.button--link:active,
.button.button--link:disabled,
.button.button--link:focus,
.button.button--link:hover {
  background: none;
}
.button.button--link.active,
.button.button--link:active,
.button.button--link:focus,
.button.button--link:hover {
  color: #059;
  text-decoration: underline;
}
.button.button--link:disabled {
  color: #999;
}
.button.button--link:focus {
  outline: 1px dotted;
}
.button + .button {
  margin-left: 5px;
}
.button:not(:disabled) {
  cursor: pointer;
}
.button:disabled {
  background-color: #f5f5f5;
  color: #999;
}
.button:focus,
.button:hover {
  color: #444;
  outline: none;
  text-decoration: none;
}
.button.active,
.button:active {
  background-color: #ddd;
  color: #444;
}
.button-group {
  width: 100%;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 0.001px;
  white-space: nowrap;
}
.button-group > * {
  display: inline-block;
}
.button-group .button {
  vertical-align: top;
  padding: 0 18px;
}
.button-group > .button:first-child,
.button-group > div:first-child .button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button-group > .button:last-child,
.button-group > div:last-child .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-group > .button:nth-child(n+2),
.button-group > div:nth-child(n+2) .button {
  margin-left: -1px;
}
.link {
  outline: none;
  text-decoration: underline;
  color: inherit;
}
.link:hover {
  text-decoration: none;
  color: inherit;
}
.link + .link {
  margin-left: 25px;
}
.link__icon {
  display: inline-block;
  margin-right: 2px;
  font-size: 15px;
}
.link__icon + .link {
  margin-left: 4px;
}
.link.link--reset {
  border-color: transparent;
}
.link.link--line {
  border-bottom: 1px solid;
  text-decoration: none;
}
a {
  color: #000;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
a:active,
a:hover {
  outline: none;
}
