.icon {
  display: inline-block;
}
.icon.icon--mini {
  width: 15px;
  height: 15px;
  font-size: 15px;
}
.icon.icon--sm {
  width: 18px;
  height: 18px;
  font-size: 18px;
}
.icon.icon--md {
  width: 25px;
  height: 25px;
  font-size: 25px;
}
.icon.icon--lg {
  width: 30px;
  height: 30px;
  font-size: 30px;
}
.icon.icon--middle {
  display: inline-block;
  vertical-align: middle !important;
}
