.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 250ms;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal .modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal__dialog {
  position: absolute;
  left: 25%;
  background: #fff;
  padding: 20px;
  width: 50%;
  margin-right: -25%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
  z-index: 10;
}
