.modal .modal__header {
  border-bottom: 1px solid #ddd;
}
.modal .modal__tab.modal__tab--v .nav {
  display: inline-block;
  width: 150px;
  background: #f4f4f4;
  box-shadow: inset -10px 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin-right: -4px;
  vertical-align: top;
}
.modal .modal__tab.modal__tab--v .nav-item {
  color: #949494;
}
.modal .modal__tab.modal__tab--v .nav-item.active {
  background-color: #fff;
  font-weight: 700;
  color: #171717;
  box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.2);
}
.modal .modal__tab.modal__tab--v .tab-content {
  display: inline-block;
  width: calc(100% - 150px);
  padding: 20px;
  vertical-align: top;
  z-index: 1;
}
.modal {
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  transition: all 250ms;
}
.modal-open {
  overflow: hidden;
  transition: all 250ms;
}
.modal-open .main,
.modal-open .aside {
  filter: blur(3px);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
}
.modal-backdrop.fade.in {
  opacity: .5;
}
.modal-dialog {
  position: absolute;
  left: 25%;
  top: 10%;
  background: #fff;
  width: 50%;
  margin-right: -25%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow: hidden;
}
.modal-dialog.modal-lg {
  left: 2.5%;
  width: 95%;
}
.modal-dialog.modal-md {
  left: 12.5%;
  width: 75%;
}
.modal-dialog.modal-sm {
  left: 37.5%;
  width: 25%;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
@media (min-width: 1600px) {
  .modal-dialog {
    width: 50%;
  }
  .modal-dialog.modal-lg {
    left: 18.33333333%;
    width: 63.33333333%;
  }
  .modal-dialog.modal-md {
    left: 12.5%;
    width: 50%;
  }
  .modal-dialog.modal-sm {
    left: 37.5%;
    width: 16.66666667%;
  }
}
@media (min-width: 1220px) {
  .modal-dialog {
    width: 50%;
  }
  .modal-dialog.modal-lg {
    left: 10.41666667%;
    width: 79.16666667%;
  }
  .modal-dialog.modal-md {
    left: 18.75%;
    width: 62.5%;
  }
  .modal-dialog.modal-sm {
    left: 39.58333333%;
    width: 20.83333333%;
  }
}
