.switcher {
  position: relative;
  margin: 10px 0;
}
.switcher .switcher__copy {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}
.switcher .nav-tabs {
  border-bottom: 1px solid #e5e5e5;
}
.switcher .nav-tabs .nav-item.active .nav-link {
  border-bottom-color: #1e87f0;
  color: #222;
}
.switcher .nav-tabs .nav-link {
  border-radius: 0;
  padding: 9px 20px;
  border: none;
  border-bottom: 2px solid transparent;
  color: #999;
  font-size: 0.6875rem;
  font-weight: 500;
  text-transform: uppercase;
}
