.t--muted {
  color: #999;
}
.t--r {
  text-align: right;
}
.t--l {
  text-align: left;
}
.t--c {
  text-align: center !important;
}
.t--light {
  font-weight: 200 !important;
}
.t--sm {
  font-size: 75%;
}
.t--md {
  font-size: 85%;
}
.t--bold {
  font-weight: 500;
}
.t--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t--h1 {
  font-size: 3rem;
  line-height: 4rem;
  color: #171717;
}
.t--h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  color: #171717;
}
.t--h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #171717;
}
.t--h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #171717;
}
.t--h5 {
  font-size: 1rem;
  line-height: 1.8rem;
  color: #171717;
}
.t--h6 {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #171717;
}
