.f--left {
  float: left;
}
.f--right {
  float: right;
}
.text--c {
  text-align: center !important;
}
.text--r {
  text-align: right !important;
}
.text--l {
  text-align: left !important;
}
.border--radius {
  border-radius: 4px;
}
.border--rounded {
  border-radius: 500px !important;
}
.border--none {
  border: none !important;
}
.hr {
  position: relative;
  width: 60%;
  margin: 10px auto;
}
.hr:after {
  content: '';
  position: absolute;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  margin-top: -6px;
  box-shadow: 0 0 0 10px #fff;
}
.m {
  margin: 20px 0 !important;
}
.m--sm {
  margin: 10px 0 !important;
}
.m--mini {
  margin: 5px 0 !important;
}
.m--full-sm {
  margin: 10px !important;
}
.m--full-mini {
  margin: 5px !important;
}
.m--b {
  margin: 0 0 20px !important;
}
.m--b-xlg {
  margin: 0 0 80px;
}
.m--b-lg {
  margin: 0 0 40px;
}
.m--b-sm {
  margin: 0 0 10px;
}
.m--b-mini {
  margin: 0 0 5px;
}
.m--t {
  margin: 20px 0 0 !important;
}
.m--t-xxxlg {
  margin: 240px 0 0;
}
.m--t-xxlg {
  margin: 160px 0 0;
}
.m--t-xlg {
  margin: 80px 0 0;
}
.m--t-lg {
  margin: 40px 0 0;
}
.m--t-md {
  margin: 30px 0 0;
}
.m--t-sm {
  margin: 10px 0 0;
}
.m--t-mini {
  margin: 5px 0 0;
}
.m--t-reset {
  margin-top: 0 !important;
}
.m--t-reverse {
  margin-top: -20px !important;
}
.m--r {
  margin: 0 20px 0 0 !important;
}
.m--r-sm {
  margin: 0 10px 0 0;
}
.m--r-mini {
  margin: 0 5px 0 0;
}
.m--auto {
  margin: 0 auto;
}
.m--v {
  margin: 20px 0 !important;
}
.m--v-xlg {
  margin: 80px 0 !important;
}
.m--v-lg {
  margin: 40px 0 !important;
}
.m--v-sm {
  margin: 10px 0 !important;
}
.m--v-5 {
  margin: 5px 0;
}
.m--reset {
  margin: 0 !important;
}
.p--reset {
  padding: 0 !important;
}
.cursor--pointer {
  cursor: pointer;
}
.icon--sm {
  font-size: 150%;
  vertical-align: -10%;
}
.icon--md {
  font-size: 200%;
  vertical-align: -16%;
}
.icon--lg {
  font-size: 250%;
  vertical-align: -22%;
}
.blockquote,
blockquote {
  position: relative;
  padding-left: 30px;
  border-left: 2px solid #03a9f4;
  margin: 15px 0;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.clearfix {
  display: block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
