<div class="modal" data-ng-class="{'open' : isOpenEventEdit}">

    <div class="modal__overlay"></div>

    <div class="modal__dialog modal__dialog--lg tab">
        
        <!--Modal tab vertical-->
        <div class="modal__tab modal__tab--v">

            <uib-tabset active="activePill" vertical="true" type="pills">
                <uib-tab index="0" heading="Информация">
                    <div data-ng-include="'view/modal/event-edit/part/_information.html'"></div>
                </uib-tab>
                <uib-tab index="1" heading="Клиент">
                    <div data-ng-include="'view/modal/event-edit/part/_client.html'"></div>                
                </uib-tab>
                <uib-tab index="2" heading="Активность">
                    <div data-ng-include="'view/modal/event-edit/part/_activity.html'"></div>                
                </uib-tab>
                <uib-tab index="3" heading="Скидки">
                    <div data-ng-include="'view/modal/event-edit/part/_sale.html'"></div>                
                </uib-tab>
                <uib-tab index="4" heading="Карта">
                    <div data-ng-include="'view/modal/event-edit/part/_card.html'"></div>                
                </uib-tab>
                <uib-tab index="5" heading="Чеки">
                    <div data-ng-include="'view/modal/event-edit/part/_check.html'"></div>                
                </uib-tab>
            </uib-tabset>
            
        </div>
        

        <!--<ul class="modal__tab modal__tab--v tab__list">
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link active">Информация</a>
            </li>
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link">Клиент</a>
            </li>
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link">Активность</a>
            </li>
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link">Скидка</a>
            </li>
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link">Карта</a>
            </li>
        </ul>-->

        <!--<div class="modal__header">
            <div class="grid grid--sm grid--divider t--c">
                 <div class="col--1-2">
                    <p class="t--h3 m--reset">22 ноября 2017г.</p>
                </div>
                <div class="col--1-2">
                    <p class="t--h3 m--reset">19:00 — 22:00</p>
                </div>
            </div>
        </div>-->

    </div>

</div>