<div class="modal" data-ng-class="{'open' : isOpenEventEdit}">

    <div class="modal__overlay"></div>

    <div class="modal__dialog modal__dialog--lg tab">
        <!--<div class="modal__header">123</div>-->
        
        <!--Modal tab vertical-->
        <ul class="modal__tab modal__tab--v tab__list">
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link active">Информация</a>
            </li>
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link">Клиент</a>
            </li>
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link">Активность</a>
            </li>
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link">Скидка</a>
            </li>
            <li class="modal__tab-item tab__item">
                <a href="" class="modal__tab-link">Карта</a>
            </li>
        </ul>

        <div class="modal__content">
            <div class="avatar avatar--empty"></div>
        </div>

    </div>

</div>