<div class="modal" data-ng-class="{'open' : isOpenEventEdit}">

    <div class="modal__overlay"></div>

    <div class="modal__dialog">
        <!--<div class="modal__header">123</div>-->
        
        <!--Modal tab vertical-->
        <ul class="modal__tab modal__tab--v">
            <li class"modal__tab-item">
                <a href="" class="modal__tab-link">Информация</a>
            </li>
            <li class"modal__tab-item">
                <a href="" class="modal__tab-link">Клиент</a>
            </li>
            <li class"modal__tab-item">
                <a href="" class="modal__tab-link">Активность</a>
            </li>
            <li class"modal__tab-item">
                <a href="" class="modal__tab-link">Скидка</a>
            </li>
            <li class"modal__tab-item">
                <a href="" class="modal__tab-link">Карта</a>
            </li>
        </ul>

        <div class="modal__content">
            
            222

        </div>

    </div>

</div>