<div class="block">
    <h1 class="block__prefix">Modal</h1>
    <div class="block__content">
        <div class="container">
            <div class="grid">
                <div class="col--1-1">
                    
                    <h1>Modal window specification and variation</h1>
                    <p class="t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>

                </div>

                <div class="col--1-1">
                    <p class="m--t-lg">
                        <a href="" class="button button--success" data-ng-click="isOpenEventEdit = !isOpenEventEdit">Open event edit</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-ng-include="'view/modal/event-edit/index.html'"></div>