<div class="container">
    <div class="grid">
        <div class="col--4-5">
            <div class="block">
                <h1 class="block__prefix">Modal</h1>

                <div class="block__content">
                    <div class="container">
                        <div class="grid">

                            <!--Modal blank-->
                            <div class="col--1-1" id="modal-blank-main">
                                <div data-ng-include="'view/modal/modal-blank/include.html'"></div>
                            </div>

                            <!--Modal event edit-->
                            <div class="col--1-1" id="modal-event-edit-main">
                                <div class="m--t-xlg" data-ng-include="'view/modal/modal-event-edit/include.html'"></div>
                            </div>
                            
                            <!--Modal enter PIN-->
                            <div class="col--1-1" id="modal-enter-pin-main">
                                <div class="m--t-xlg" data-ng-include="'view/modal/modal-pin/include.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col--1-5">
            <div class="scrollspy scrollspy--fixed" hl-sticky="" offset-top="130">
                <ul class="scrollspy__list">
                    <li class="scrollspy__item">
                        <a href="#modal-blank-main" du-smooth-scroll du-scrollspy class="scrollspy__link">Blank</a>
                    </li>
                    <li class="scrollspy__item">
                        <a href="#modal-event-edit-main" du-smooth-scroll du-scrollspy class="scrollspy__link">Event edit</a>
                    </li>
                    <li class="scrollspy__item">
                        <a href="#modal-enter-pin-main" du-smooth-scroll du-scrollspy class="scrollspy__link">Enter PIN</a>
                    </li>
                    <li class="scrollspy__divider"></li>
                    <li class="scrollspy__item">
                        <a href="#stepEdit" du-smooth-scroll du-scrollspy class="scrollspy__link">
                            Редактировать
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

