<div class="block">
    <h1 class="block__prefix">Modal</h1>
    <div class="block__content">
        <div class="container">
            <div class="grid">
                <div class="col--1-1">
                    <h1>Modal window specification and variation</h1>
                    <p class="t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s...</p>
                </div>
            </div>

            <div class="grid">
                <div class="col--1-1">
                    <section class="switcher">
                        <uib-tabset active="activePill" type="tabs" vertical="false">
                            <uib-tab index="0" heading="Пример">
                                <div data-ng-include="'view/modal/event-edit/_preview.html'"></div>
                                <div data-ng-include="'view/modal/event-edit/index.html'"></div>
                            </uib-tab>
                            <uib-tab index="1" heading="Код">
                                <div data-ng-include="'view/modal/event-edit/_code.html'"></div>
                            </uib-tab>
                        </uib-tabset>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>