// out: ../../css/components/aside.css, compress: true
@import 'variables.less';
// Name:            aside
// Description:     Defines styles to create layouts with aside
//
// Component:       '.aside__*'
//                  '.aside__*'
//
// -------------------------------------------------
// Block '.aside'
// -------------------------------------------------
.aside{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: @aside-width;
    padding: 20px 0 0 0;
    background: #171717;
    color: #fff;
    // min-height: 100%;
    // min-height: 100vh;

    // -------------------------------------------------
    // All modificators
    // -------------------------------------------------


    // -------------------------------------------------
    // All elements
    // -------------------------------------------------

    // Element '.aside .aside__list'
    & &__list{

    }

    // Element '.aside .aside__item'
    & &__item{
        
    }

    // Element '.aside .aside__link'
    & &__link{
        display: block;
        padding: 0 10px;
        line-height: 2rem;
        transition: 250ms;

        // Element '.aside .aside__link:hover'
        &:hover{
            background: #464646;
        }
    }

    // Element '.aside .aside__parent'
    & &__parent{
        display: none;
        transition: all 250ms;

        // State '.aside .aside__parent.open'
        &.open{
            display: block;
        }    

        // Element '.aside .aside__parent .aside__link'
        & .aside__link{
            padding: 0 20px;
        }
    }    
}
