// out: ../../css/components/block.css, compress: true
@import 'variables.less';
// Name:            Block
// Description:     Defines styles to create horizontal layout blocks
//
// Component:       `block`
//
// Modifiers:       `list-line`
//                  `list-striped`
//                  `list-space`
//
// --------------------------------------------------------------
// Block '.block'
// --------------------------------------------------------------
.block {
    position: relative;
    box-sizing: border-box;
    padding: @block-padding-vertical 0;

    // -----------------------------------------
    // All modificators
    // -----------------------------------------

    // Modificator '.block.block--lg'
    &&--sm{
        padding: @block-padding-vertical-sm 0;
    }

    // Modificator '.block.block--md'
    &&--md{
        padding: @block-padding-vertical-md 0;
    }

    // Modificator '.block.block--lg'
    &&--lg {
        padding: @block-padding-vertical-lg 0;
    }

    // Modificator '.block.block--gray'
    &&--gray{
        background-color: #fafafa;
    }

    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.block .block__item'
    & &__item{

        &.block__item{
            // Modificator '.block .block__item.block__item--green'
            &--green{
                background: @color-green;
            }
        }
    }
}
