// out: ../../css/components/main.css, compress: true
@import 'variables.less';
// -------------------------------------------

html{
    font-family: @font-site;
    color: #323846;
}

p{
    line-height: 1.4;
}

// -------------------------------------------
// Block '.main'
// -------------------------------------------

.main {
    margin-left: @aside-width;
}