// out: ../../css/components/modal.css, compress: true
@import 'variables.less';
// Name:            modal
// Description:     Defines styles to create layouts with modal
//
//
// Component:       `.modal__*`
// ----------------------------------------------------
// Block '.modal'
// ----------------------------------------------------
.modal {
    opacity: 0;
    visibility: hidden;
    transition: all 250ms;

    // State '.modal.open'
    &.open{
        opacity: 1;
        visibility: visible;
    }

    // -----------------------------------------
    // All modificators
    // -----------------------------------------

    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.modal .modal__overlay'
    & &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    // Element '.modal .modal__dialog'
    & &__dialog{
        position: absolute;
        left: 25%;
        top: 10%;
        background: @modal-background;
        padding: @modal-padding;
        width: @modal-width;
        margin-right: -(@modal-width / 2);
        box-shadow: 0 0 60px 0 rgba(0,0,0,.3);
        z-index: 10;

        // Modificator '.modal .modal__dialog.modal__dialog--gray'
        &.modal__dialog--gray{
            background: @modal-background-gray;
        }

        // Modificator '.modal .modal__dialog.modal__dialog--lg'
        &.modal__dialog--lg{
            left: (100% - @modal-width-lg) / 2;
            width: @modal-width-lg;
        }

        // Modificator '.modal .modal__dialog.modal__dialog--md'
        &.modal__dialog--md{
            left: (100% - @modal-width-md) / 2;
            width: @modal-width-md;
        }
    }    

    // Element '.modal .modal__content'
    & &__content{
        
    }

    // Element '.modal .modal__tab'
    & &__tab{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: @modal-tab-background;
        width: @modal-tab-width;
        padding: (@modal-padding / 2) 0;
        box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
        
        // Element '.modal .modal__tab + .modal__content'
        & + .modal__content{
            margin-left: @modal-tab-width;
            min-height: 250px;
        }

        // Element '.modal .modal__tab-link'
        &-link{
            position: relative;
            display: block;
            line-height: 1.5rem;
            padding: (@modal-padding / 4) @modal-padding;
            font-weight: 500;
            color: #909090;

            // State '.modal .modal__tab-link.active'
            &.active{
                font-weight: 700;
                background-color: #fff;
                box-shadow: -10px 0 20px 0 rgba(0, 0, 0, 0.2);
                color: #171717;
                
                // Element '.modal .modal__tab-link.active:after'
                // &:after{
                //     content: '';
                //     position: absolute;
                //     right: -@modal-padding;
                //     top: 0;
                //     bottom: 0;
                //     width: @modal-padding;
                //     background-color: @modal-background-gray;
                // }

                // Element '.modal .modal__tab-link.active:after'
                &:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 5px;
                    bottom: 5px;
                    width: 3px;
                    background-color: #03a9f4;
                }                
            }
        }
    }    
}
