<div class="input-group aside__search">
    <input type="search" class="input-group__field input input--sm">
    <i class="input-group__icon icon-search"></i>
</div>

<ul class="aside__list">
    <li class="aside__item">
        <a href="#!/font" class="aside__link" data-ng-click="isParentFont = !isParentFont">Typeface</a>
        <!--<ul class="aside__parent" data-ng-class="{'open' : isParentFont}">
            <li class="aside__item">
                <a href="#!/font-family" class="aside__link">Font family</a>
            </li>
            <li class="aside__item">
                <a href="#!/font-herarchy" class="aside__link">Hierarchy</a>
            </li>
        </ul>-->
    </li>
    <li class="aside__item">
        <a href="#!/font-typeface" class="aside__link">Color</a>        
    </li>
    <li class="aside__item">
        <a href="#!/modal" class="aside__link">Modal</a>        
    </li>
    <li class="aside__item">
        <a href="#!/avatar" class="aside__link">Avatar</a>        
    </li>
    <li class="aside__item">
        <a href="#!/pipeline" class="aside__link">Pipeline</a>        
    </li>
    <li class="aside__item">
        <a href="#!/statistic" class="aside__link">Statistic</a>        
    </li>

</ul>
