<aside class="aside">
    <!--<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                	</button>
                    <a class="navbar-brand" href="/"><img class="img-responsive logo" src="/content/img/logo.png" width="209" height="76" alt="logo" title="logo"></a>
                </div>

                <div class="auth collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="auth-block hidden-sm hidden-xs">
                        <a class="link" href="/">Login</a>
                        <span class="dash">|</span>
                        <a class="link" href="/">Registration</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/" title="Why Belarus">Why Belarus</a></li>
                        <li><a href="/" title="Investment Opportunities">Investment Opportunities </a></li>
                        <li><a href="/" title="Business Environment">Business Environment</a></li>
                        <li><a href="/" title="NAIP and what we do">NAIP and what we do</a></li>
                        <li><a href="/" title="News">News</a></li>
                        <li><a href="/" title="Contacts">Contacts</a></li>
                        <li class="auth-block hidden-lg hidden-md">
                            <a href="/">Login</a> <span class="dash">|</span> <a href="/">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
</aside>
