<script type="text/ng-template" id="modalPin.html">

    <ul class="modal-pin__indicator">
        <li class="modal-pin__indicator-item"></li>
        <li class="modal-pin__indicator-item"></li>
        <li class="modal-pin__indicator-item"></li>
        <li class="modal-pin__indicator-item"></li>
        <li class="modal-pin__indicator-item"></li>
    </ul>

    <ul class="modal-pin__number">
        <li class="modal-pin__number-item">1</li>
        <li class="modal-pin__number-item">2</li>
        <li class="modal-pin__number-item">3</li>
        <li class="modal-pin__number-item">4</li>
        <li class="modal-pin__number-item">5</li>
        <li class="modal-pin__number-item">6</li>
        <li class="modal-pin__number-item">7</li>
        <li class="modal-pin__number-item">8</li>
        <li class="modal-pin__number-item">9</li>
        <li class="modal-pin__number-item">0</li>
        <li class="modal-pin__number-item">←</li>
    </ul>

</script>