<script type="text/ng-template" id="modalPin.html">

    <ul class="modal-pin__indicator">
        <li class="modal-pin__indicator-item"></li>
        <li class="modal-pin__indicator-item"></li>
        <li class="modal-pin__indicator-item"></li>
        <li class="modal-pin__indicator-item"></li>
        <li class="modal-pin__indicator-item"></li>
    </ul>

    <div class="modal-pin__number">
        <a href="#" class="modal-pin__number-item">1</a>
        <a href="#" class="modal-pin__number-item">2</a>
        <a href="#" class="modal-pin__number-item">3</a>
        <a href="#" class="modal-pin__number-item">4</a>
        <a href="#" class="modal-pin__number-item">5</a>
        <a href="#" class="modal-pin__number-item">6</a>
        <a href="#" class="modal-pin__number-item">7</a>
        <a href="#" class="modal-pin__number-item">8</a>
        <a href="#" class="modal-pin__number-item">9</a>
        <a href="#" class="modal-pin__number-item">0</a>
        <a href="#" class="modal-pin__number-item">←</a>
    </div>

</script>