<!--<div class="modal" data-ng-class="{'open' : isOpenEventEdit}">

    <div class="modal__overlay"></div>

    <div class="modal__dialog modal__dialog--lg tab">

        <div class="modal__content">
            <h1 class="t--h1">
                [Content]
            </h1>
        </div>        
        
    </div>

</div>-->


<script type="text/ng-template" id="modalPin.html">

    <div class="modal__content">
        <h1 class="t--h1 t--c">
            PIN
        </h1>
    </div>

</script>