<h1 class="t--h1">Font family</h1>
<div class="grid" id="font-family">
    <div class="col--1-2">
        <div class="typeface__block">
            <p class="typeface__block-title">Aa</p>
            <p class="typeface__block-subtitle">Source Open Sans</p>
        </div>

        <div class="typeface__var">
            <p class="typeface__var-text" style="font-weight: 100;">Light <small class="t--sm t--muted t--light">( 100 )</small></p>
            <p class="typeface__var-text" style="font-weight: 300;">Regular <small class="t--sm t--muted t--light">( 300 )</small></p>
            <p class="typeface__var-text" style="font-weight: 400;">Semibold <small class="t--sm t--muted t--light">( 400 )</small></p>
            <p class="typeface__var-text" style="font-weight: 700;">Bold <small class="t--sm t--muted t--light">( 700 )</small></p>
            <p class="typeface__var-text" style="font-weight: 900;">Black <small class="t--sm t--muted t--light">( 900 )</small></p>
        </div>
    </div>

    <div class="col--1-2">
        <div class="typeface__block">
            <p class="typeface__block-title">Aa</p>
            <p class="typeface__block-subtitle">Roboto</p>
        </div>

        <div class="typeface__var">
            <p class="typeface__var-text" style="font-weight: 100;">Light <small class="t--sm t--muted t--light">( 100 )</small></p>
            <p class="typeface__var-text" style="font-weight: 300;">Regular <small class="t--sm t--muted t--light">( 300 )</small></p>
            <p class="typeface__var-text" style="font-weight: 400;">Semibold <small class="t--sm t--muted t--light">( 400 )</small></p>
            <p class="typeface__var-text" style="font-weight: 700;">Bold <small class="t--sm t--muted t--light">( 700 )</small></p>
        </div>
    </div>

</div>