<div class="block typeface">
    <h1 class="block__prefix">Typeface</h1>

    <div class="block__content">
        <div class="container">
            <div class="grid">
                <div class="col--1-1">
                    <h1>Typeface: <span>@Open Sans</span></h1>
                </div>
            </div>

            <div class="grid">
                <div class="col--1-3">
                    
                    <div class="typeface__block">
                        <p class="typeface__block-title">Aa</p>
                        <p class="typeface__block-subtitle">Source Open Sans</p>
                    </div>

                    <div class="typeface__var">
                        <p class="typeface__var-text" style="font-weight: 100;">Light</p>
                        <p class="typeface__var-text" style="font-weight: 300;">Regular</p>
                        <p class="typeface__var-text" style="font-weight: 400;">Semibold</p>
                        <p class="typeface__var-text" style="font-weight: 700;">Bold</p>
                        <p class="typeface__var-text" style="font-weight: 900;">Black</p>
                    </div>

                </div>

                <div class="col--1-3">
                    
                    <div class="typeface__block">
                        <p class="typeface__block-title">Aa</p>
                        <p class="typeface__block-subtitle">Roboto</p>
                    </div>

                    <div class="typeface__var">
                        <p class="typeface__var-text" style="font-weight: 100;">Light</p>
                        <p class="typeface__var-text" style="font-weight: 300;">Regular</p>
                        <p class="typeface__var-text" style="font-weight: 400;">Semibold</p>
                        <p class="typeface__var-text" style="font-weight: 700;">Bold</p>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>