<div class="block">
    <div class="block__content typeface">
        <div class="container">
            <div class="grid">
                <div class="col--1-1">
                    <h1 class="m--b">Hierarchy</h1>
                </div>
                <div class="col--1-4">
                    <p class="t--bold">Heading 1</p>
                    <p><span class="t--bold">Font Size:</span> 1.5<small>rem</small></p>
                    <p><span class="t--bold">Line-Height:</span> 1.8<small>rem</small></p>
                </div>
                <div class="col--3-4">
                    <p class="t--h1 m--reset">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                </div>
            </div>
        </div>
    </div>
</div>