<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul class="breadcrumbs__list col-md-12">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">База инвестиционных проектов</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">Модернизация действующих производств</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Home -->
<section class="block block--md">
    <div class="container">
        <div class="row">
            <div class="col-md-4 gallery">
                <div>
                    <img class="gallery__main-img" src="content/img/gallery/gallery-item-1.jpg" />
                </div>

                <div class="gallery__slider">
                    <a href="#" class="gallery__slider-item"><img src="content/img/gallery/gallery-item-1.jpg" alt=""></a>
                    <a href="#" class="gallery__slider-item"><img src="content/img/gallery/gallery-item-1.jpg" alt=""></a>
                    <a href="#" class="gallery__slider-item active"><img src="content/img/gallery/gallery-item-1.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-8 object">
                <h2 class="object__title">Об объекте</h2>
                <p class="object__text">Проект предполагает оказание услуг агроэкотуризма и ориентирован на семейный и детский отдых. Планируется организовать 10 номеров различной степени комфортности. Находящиеся в собственности здание восстановлено на 75% от планируемых по
                    проекту затрат на ремонт и полное восстановление. Стоимость потраченных средств для первичной реконструкции здания составила 120 000 долларов США. Дополнительно для начала функционирования проекта требуется 46 000 долларов США.</p>

                <a href="#" class="button button--success button--lg object__interes">Заитересовал проект</a>

                <div class="object__action">
                    <a href="#" class="link link--reset"><i class="icon icon--mini link__icon icon-download"></i> Скачать презентацию</a>
                    <a href="#" class="link link--reset"><i class="icon icon--mini link__icon icon-printer"></i> На печать</a>
                    <a href="#" class="link link--reset"><i class="icon icon--mini link__icon icon-document"></i> Экспорт в Word</a>
                    <a href="#" class="link link--reset"><i class="icon icon--mini link__icon icon-document"></i> Экспорт в Excel</a>
                    <a href="#" class="link link--reset"><i class="icon icon--mini link__icon icon-document"></i> Экспорт в PDF</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Direction -->
<div class="block block--gray-shadow">
    <div class="container">
        <div class="row list list--direction">
            <div class="col-md-4 list__item" data-ng-repeat="item in directionList">
                <div class="content">
                    <p class="title">{{item.title}}</p>
                    <p class="text">{{item.text}}</p>
                </div>
            </div>
            <div class="col-md-12">
                <i class="link__icon icon icon--sm icon--middle icon-chevron-down-circle"></i><a href="#" class="link link--line">Расскрыть подробное описание</a>
            </div>
        </div>
    </div>
</div>

<div class="block block--1-2 contact-block clearfix">
    <div class="block__item contact-block__maps">
        <div data-ng-include="'view/ui/map/index.html'"></div>
    </div>
    <div class="block__item contact-block__info">
        <div class="contact-block__info-content">
            <h3 class="contact-block__info-title">Контакты объекта</h3>

            <p class="contact-block__info-subtitle m--t">Адрес</p>
            <p class="contact-block__info-text">ООО «Сельскохозяйственная компания «Здоровый росток»</p>

            <p class="contact-block__info-subtitle m--t">Контактное лицо</p>
            <p class="contact-block__info-text">ООО «Сельскохозяйственная компания «Здоровый росток»</p>

            <a href="#" class="button button--success-dark button--lg m--t-lg">Заинтересовал проект</a>
        </div>
    </div>
</div>

<div class="block object-similar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="object-similar__title">Похожие обьекты</h2>
            </div>
        </div>
        <div class="row object-similar__list">
            <div class="col-md-4" data-ng-repeat="item in similar">
                <div class="object-similar__item">
                    <div class="top">
                        <p class="subtitle"><i class="icon icon--lg t--green icon-cog"></i>{{item.subtitle}}</p>
                        <p class="title">{{item.title}}</p>
                        <p class="date">Дата публикации: {{item.date}}</p>
                    </div>
                    <div class="bottom">
                        <div class="row">
                            <div class="col-md-6 bottom__item">
                                <p class="title">Инициатор проекта</p>
                                <p class="text">{{item.initiator}}</p>
                            </div>
                            <div class="col-md-6 bottom__item">
                                <p class="title">Область</p>
                                <p class="text">{{item.region}}</p>
                            </div>
                            <div class="col-md-6 bottom__item bottom__item--small">
                                <p class="title">Срок окупаемости</p>
                                <p class="text">{{item.payback}}</p>
                            </div>
                            <div class="col-md-6 bottom__item bottom__item--small">
                                <p class="title">Объем инвестиций</p>
                                <p class="text">{{item.investments}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 m--t-md">
                <i class="link__icon icon icon--sm icon--middle icon-chevron-left-circle"></i><a href="#" class="link link--line">Вернуться к результатам поиска</a>
            </div>
        </div>
    </div>

</div>

<div class="block block--shadow-top bottom-menu-wrapper">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12"> -->
            <div class="col-md-2 bottom-menu">
                <h3>Why Belarus</h3>
                <ul>
                    <li><a href="/">Who We Are</a></li>
                    <li><a href="/">Events</a></li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">DJI Global Citizenship</a></li>
                    <li><a href="/">DJI Enterprise</a></li>
                    <li><a href="/">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-2 bottom-menu">
                <h3>Business environment</h3>
                <ul>
                    <li><a href="/">Who We Are</a></li>
                    <li><a href="/">Events</a></li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">DJI Global Citizenship</a></li>
                </ul>
            </div>
            <div class="col-md-2 bottom-menu">
                <h3>Investment opportunities</h3>
                <ul>
                    <li><a href="/">Who We Are</a></li>
                    <li><a href="/">Events</a></li>
                    <li><a href="/">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-2 bottom-menu">
                <h3>NAIP and what we do</h3>
                <ul>
                    <li><a href="/">Who We Are</a></li>
                    <li><a href="/">Events</a></li>
                    <li><a href="/">DJI Enterprise</a></li>
                    <li><a href="/">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 bottom-adress">
                <p>14 Bersona Street, Minsk, 220030</p>
                <p>Phone: +375 17 200 81 75, +375 17 200 52 89</p>
                <p>Email: mail@investinbelarus.by</p>
                <div class="download">Download our Application</div>
                <div class="download-icons">
                    <a href="/" class="button button--app"><img class="app-store" src="content/img/app/app-store.jpg" alt="" title=""></a>
                    <a href="/" class="button button--app"><img class="google-play" src="content/img/app/google-play.jpg" alt="" title=""></a>
                </div>
            </div>
            <div class="col-md-8 m--t-reverse">
                <div class="input-group">
                    <i class="input-group__icon input-group__icon--right icon icon--sm icon-magnifier"></i>
                    <input type="search" class="input-group__input input input--search" placeholder="Search">
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!-- Slider logo -->
<div data-ng-include="'view/ui/slider/slider-logo.html'"></div>
